
.ui-element {
    margin-bottom: 20px;
    width: 100%;
}

.sidebar {
    background-color: #d8d8d8;
    border-radius: 4px;
    padding: 20px 20px 40px 20px;
    margin: 0;
}

.custom-tab {
    padding: 10px !important;
}

#tabs {
    height: 44px;
}
